<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Todo App</h1>
    <form id="create" action="/create" method="post">
      <input name="todo" type="text">
      <button id="add" type="submit">Add task</button>
    </form>
    <div class="todos-container">
      <% todos.forEach(todo => { %>
        <form class="todo" action="/delete" method="post">
          <h2 class="todo-title"><%= todo.title %></h2>
          <button class="check-btn" name="todo" value="<%= todo.title %>" type="submit">&#10004;</button>
      </form><br>
    <% }) %>      
    </div>
  </div>
</body>
</html>